<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="userBean" class="com.springsample.readxmlbeandata.models.User">
        <property name="userId" value="101"></property>
        <property name="userName" value="Hiren Patel"></property>
    </bean>

    <bean id="studentBean" class="com.springsample.readxmlbeandata.models.Student">
        <property name="nickName" value="AndroidStudent1"></property>
    </bean>

</beans>